body {
	padding: 60px;
}

.centered-pills { 
	text-align:center; 
}

.centered-pills ul.nav-pills { 
	display:inline-block; 
}

.centered-pills li { 
	display:inline; 
}

.centered-pills a { 
	float:left; 
}

.hidden {
	display: none;
}

.img-center {
	margin: 0 auto;
}

.img-left {
	float: left;
}

.img-right {
	float: right;
}

.modal-full {
	weight: 100%;
}

.center {
	margin: 0 auto;
}

.icon {
	text-align: center;
	width: 150px;
	margin: 0 auto;
}

.icon i {
	font-size: 50px;
	text-align: center;
	color: #000;
	border: 5px solid #3C3C3C;
	display: block;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
	width: 150px;
	height: 150px;
	line-height: 150px;
}

.modal {
	z-index: 1050;
}

.modal-lg {
	width: 80%;
}

@media only screen and (min-width: 992px) {
    .member-height{
    	height:300px;
	}
}
@media only screen and (max-width: 991px) {
    .member-height{
    	height:480px;
	}
}
@media only screen and (max-width: 700px) {
    .member-height{
    	height:400px;
	}
}
@media only screen and (max-width: 500px) {
    .member-height{
    	height:320px;
	}
}